*{
    /*resetear cualquier estilo por defecto */
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*para sea de un mismo tamaño siempre */
}

body{
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 400, 700;
    font-family: 'Outfit', sans-serif;
    
}

.box{
    max-width: 230px;
    background-color: white;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}

img{
    max-width: 100%;
    border-radius: 18px;
    padding: 10px;
    display: block;
    
}

.big-text{
    font-weight: bold;
    color: hsl(218, 44%, 22%);
    font-size: 16px;
    padding: 3px;
    margin: 8px;
    text-align: center;
}

.tiny-text{
    color: hsl(220, 15%, 55%);
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}